@use "./partials/animations.scss";
@use "./partials/blocks.scss";
@use "./partials/code.scss";
@use "./partials/collab.scss";
@use "./partials/lists.scss";
@use "./partials/placeholder.scss";
@use "./partials/table.scss";
@use "./partials/typography.scss";

.ProseMirror {
  // @apply caret-black dark:caret-white outline-0 pr-8 pl-20 py-16 z-0 lg:pl-8 lg:pr-8 mx-auto max-w-2xl;
  z-index: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 2rem;
  padding-left: 5rem;
  outline-width: 0px;
  max-width: 42rem;
  margin: 0 auto;

  @media (min-width: 1024px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .selection {
    // @apply inline;
    display: inline;
  }

  .selection,
  *::selection {
    // @apply bg-black/10 dark:bg-white/20 inline;
    display: inline;
  }

  & > .react-renderer {
    // @apply my-12 first:mt-0 last:mb-0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &.resize-cursor {
    // @apply cursor-col-resize;
    cursor: col-resize;
  }

  .ProseMirror-gapcursor {
    // @apply relative w-full max-w-2xl mx-auto;
    position: relative;
    width: 100%;
    max-width: 42rem;

    &:after {
      // @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
      right: 0;
      left: 0;
      width: 100%;
      max-width: 42rem;
    }
  }
}

[data-theme="slash-command"] {
  width: 1000vw;
}
